:root {
    --color-primary: #d7dcd6;
    --color-additional: #f1f0eb;
    --color-grey: #c3c3c3;
    scrollbar-width: none !important;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
}
body::-webkit-scrollbar{ 
    display: none; 
}

@font-face {
    font-family: "Comfortaa"; 
    
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
body{

    
 
    
    background-color: var(--color-primary);
    font-family: "Comfortaa";
}       
[class*="container"]{
    display:flex;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
    padding: 5% 10%;   
}
[class*="grid"]{
    display:grid;
}