a{
    text-decoration: none;
    color: black;
}
a:hover{
    opacity: 95%;
}
.page-container{
    width:100vw;
    height: auto;
    background-color: var(--color-additional);
    margin-top: 25vw;
    margin-bottom: 5vw;

    border-radius: 3vw;
}
.page-grid{
    height: 100%;
    width: 100%;
    grid-template-columns: 2fr 5fr;
}
.catalog-grid{
    grid-template-rows: auto 1fr;
}
.sidebar-container{
    padding: 5% 10%;
}
.catalog-container{
    flex-wrap: wrap;
    padding: 5% 5%;
}
.card-grid{
    width: 15vw;
    height: 21vw;
    
    margin: 10px;

    
    border-radius: 2vw; 
    
    
    box-sizing: border-box;
   

    grid-template-rows: 4fr 1fr 2fr;
}
.card-grid:hover{
    padding: 0; 
    animation: shadow 0.3s forwards;
}  
@keyframes shadow {
    
    100% {
          box-shadow: 0px 10px 15px -5px rgba(52, 80, 102, 0.2);}
}
.pagination-container{
    padding-bottom: 5%;
}

.page-numbers{
    display:flex;
    list-style-type: none;
}
.page-number{
    padding: 8px;
    margin: 8px;
    cursor: pointer;
}
.page-number-active{
    font-weight: 800;
    text-decoration: underline;
}

.image-container{
    height: 12vw;
    width: 100%;

    display: flex;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
}
img{
    object-fit: contain;
    height: 100%;
    width: 70%;

    transform: rotate(5deg);    
}
.name-container{
    font-size: clamp(14px, 1.5vw, 20px);
    font-weight: 800;
    padding: 5% 10%;
}
.description-container{
    font-size: clamp(12px, 1.2vw, 16px);
    box-sizing: border-box;
    padding: 0 10%;
    padding-bottom: 5%;
}